body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    width: 100%;
    }

.backgroundimg {
    background-image: url(../images/background.png);
    background-repeat: space;
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 78px;
    z-index: -1;
}

.container4 {
    background: #ffffff;
    width: 960px;
    height: 750px;
    margin-top: 150px;
    margin-bottom: 35px;
    z-index: 1; 
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.container3 {
    background: #ffffff;
    width: 960px;
    margin-top: 150px;
    margin-bottom: 35px;
    height: 650px;
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);   
}

.container2 {
    background: #ffffff;
    width: 960px;
    margin-top: 150px;
    margin-bottom: 35px;
    height: 575px;
    z-index: 1;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

.container {
    background: #ffffff;
    width: 960px;
    height: 75px;
    position: absolute;
    margin-top: 35px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #ffffff;
    background-color: #4aaaa5;
    width: 175px;
    height: 25px;
    padding: 25px;
    text-align: center; 
    float: left;
}

h1 {
    color: #4aaaa5;
    margin-left: 25px;
    padding-top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.about {
    color: #777777;
    width: 75px;
    height: 25px;
    text-align: center;
    background-color: #ffffff;
    float: right;
    margin-top: 25px;
    border-right-color: lightgrey;
    border-right-width: 2px;
    border-right-style: solid;
}

.contact {
    color: #777777;
    width: 75px;
    height: 25px;
    text-align: center;
    background-color: #ffffff;
    float: right;
    margin-top: 25px;
    }

.portfolio {
    color: #777777;
    width: 85px;
    height: 25px;
    text-align: center;
    background-color: #ffffff;
    float: right;
    margin-top: 25px;
    border-right-color: lightgrey;
    border-right-width: 2px;
    border-right-style: solid;
    }

.footer {
    background-color: #666666;
    clear: both;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    border-top: 8px solid #4aaaa5;
    z-index: 1;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
}

img {
    float: left;
    max-width: 25%;
    height: auto; 
    margin-left: 25px;
    margin-right: 15px;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 50px;
    width: 150x;
    padding: 25px;
    margin-left: 45px;
    margin-top: 0px;
    text-align: left;
}

.text {
    line-height: 30px;
    margin-left: 25px;
    margin-right: 25px;
}

a {
  text-decoration: none;  
}

.nameinput {
    height: 30px;
    width: 900px;
    margin-left: 25px;
    margin-top: -5px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

.emailinput {
    position: static;
    margin-left: 25px;
    width: 900px;
    height: 30px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

.messageinput {
    position: static;
    margin-left: 25px;
    height: 250px;
    width: 900px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

.name {
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #666666;
}

.email {
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}
.message {
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

.submit {
    margin-left: 25px;
    color: #ffffff;
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 100px;
    height: 35px;
    margin-top: 10px;
    border: none;

}

.hr {
    width: 900px;
    color: #666666;
}

.catimg {
    position: relative;
    top: 10px;
    left: 10px;
}

.catlbl {
    position: absolute;
    top: 245px;
    left: 35px;
    width: 240px;
    border: none;
    width: 240px;
    height: 25px;
    border: none;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
}
.franceimg {
    position: relative;
    top: 10px;
    left: 10px;
    height: 150px;
}

.francelbl {
    position: absolute;
    top: 245px;
    left: 315px;
    width: 240px;
    height: 25px;
    border: none;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
}

.lizzardimg {
    position: relative;
    top: 10px;
    left: 10px;
}

.lizzardlbl {
    position: absolute;
    top: 245px;
    left: 595px;
    width: 240px;
    height: 25px;
    border: none;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
}

.grassimg {
    position: relative;
    top: 110px;
    left: 10px;
    height: 159px;
}

.grasslbl {
    position: absolute;
    top: 500px;
    left: 315px;
    width: 240px;
    height: 25px;
    border: none;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
}

.fisheyeimg {
    position: relative;
    top: 110px;
    left: 10px;
    height: 159px;
}

.fisheyelbl {
    position: absolute;
    top: 500px;
    left: 595px;
    width: 240px;
    height: 25px;
    border: none;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
}

.sunflowerimg {
    position: relative;
    top: 110px;
    left: 10px;
}

.sunflowerlbl {
    position: absolute;
    top: 500px;
    left: 35px;
    width: 240px;
    height: 25px;
    border: none;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
}
