body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    width: 960px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/background.png);
    }

.container2 {
    background: #ffffff;
    width: 960px;
    margin-top: 35px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    height: 500px;
}

.container {
    position: relative;
    background: #ffffff;
    width: 960px;
    height: 75px;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #ffffff;
    background-color: #4aaaa5;
    width: 175px;
    height: 25px;
    padding: 25px;
    text-align: center; 
    float: left;
}

h1 {
    color: #4aaaa5;
    margin-left: 25px;
    padding-top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
.about {
    color: #777777;
    width: 75px;
    height: 25px;
    text-align: center;
    background-color: #ffffff;
    float: right;
    margin-top: 30px;
}

.contact {
    color: #777777;
    width: 75px;
    height: 25px;
    text-align: center;
    background-color: #ffffff;
    float: right;
    margin-top: 30px;
    }

.portfolio {
    color: #777777;
    width: 75px;
    height: 25px;
    text-align: center;
    background-color: #ffffff;
    float: right;
    margin-top: 30px;
    }

.footer {
    background-color: #666666;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0; 
    height: 25px;
    bottom: 0;
    border-top: 2px solid #4aaaa5;
    clear: both;
}

img {
    float: left;
    max-width: 25%;
    height: auto; 
    margin-left: 25px;
    margin-right: 15px;
}

h2 {
    color: #4aaaa5;
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 50px;
    width: 150x;
    padding: 25px;
    margin-left: 45px;
    text-align: left;
}

.text {
    line-height: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

a {
  text-decoration: none;  
}

.name {
    height: 25px;
    width: 300px;
}

.email {
    position: static;
}

.message {
    position: static;
}